black
boto3
Django>=4.0
git+https://github.com/vgalaktionov/django-admin-numeric-filter@master#egg=django-admin-numeric-filter
django-countries
django-jsonform
django-localflavor
django-money
git+https://github.com/vgalaktionov/django-more-admin-filters@master#egg=django-more-admin-filters
django-phonenumber-field
django-storages
django-import-export
flake8
geocoder
gunicorn
phonenumbers
psycopg2-binary
transliterate