{% load static i18n %}
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" href="path/to/fav.png">
    <title>Допомога для українців у Нідерландах</title>

    <link rel="stylesheet" href="{% static 'pico.min.css' %}" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    {% block extrahead %}{% endblock extrahead %}
</head>

<body>

    {% include "navbar.html" %}
    <div class="content">{% block content %}{% endblock content %}</div>
    {% include "footer.html" %}


    <script>
        window.TRANSLATIONS = {
            'Add item': '{% translate "Add item" %}'
        };
    </script>
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'index.js' %}"></script>
</body>

</html>