{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="hero"
    style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{% static 'hero.jpeg' %}');">
    <div class="container">
        <div class="grid">
            <h1>
                Допомога з працевлаштуванням українцям-переселенцям у
                Королівстві Нідерланди.
            </h1>
            <p>
                Ми допоможемо з працевлаштуванням, підготовкою документів, юридичними питаннями українцям, які
                вимушено
                залишили свої домівки і прибули до Королівства Нідерланди.
                <br> <br>
                Важливо! Не працюйте нелегально! Почекайте офiцiйного дозволу на роботу пiсля реєстрацiї.
                <br> <br>
                <input type="button" value="Заповнити анкету" onclick="javascript:window.location='registration-form'">
            </p>

        </div>
    </div>
</div>

<br> <br> <br>
<main class="container">
    <hr>
    <section class="grid">
        <div>
            <img src="{% static 'form.jpeg' %}" alt="Filling form">
        </div>
        <div>
            <p>
                Ви – українець чи українка, що приїхали шукати тимчасового притулку в Королівстві Нідерланди?

                Вам потрібна допомога з працевлаштуванням, підготовкою документів, юридичною підтримкою для
                працевлаштування?

                Тоді цей сайт для вас, ми хочемо вам допомогти!
            </p>
            <p>
                <a href="registration-form"><strong>Заповнити анкету</strong></a>
            </p>
        </div>
    </section>

    <hr>
    <br>

    <h4 id="who">Хто ми?</h4>
    <p>
        Ми – неприбуткова організація “Допомога”, що працює на волонтерських засадах. Наша мета – допомогти тим, хто
        не
        знає, де і як шукати роботу Нідерландах, проте хоче мати доступ до ринку праці.
    </p>

    <hr>

    <h4 id="how">
        Як це працює?
    </h4>

    <p>
        <ul>
            <li>
                Будь ласка, <a href="registration-form">заповніть анкету</a> – вкажiть всю iнформацiю, яка може
                бути корисною для вашого працевлаштування
            </li>
            <li>
                Далі з вами зв’яжуться наші координатори, щоб обговорити ваш запит детальніше та визначити подальші
                кроки
            </li>
            <li>
                Якщо ви шукаєте роботу – вам нададуть персональну допомогу в пошуці роботи чи підготовці до інтерв’ю
            </li>
            <li>
                Якщо вам потрібне житло, вам порадять, куди звернутися за допомогою
            </li>
            <li>
                Якщо вам потрібні практичні поради – спробуємо допомогти
            </li>
        </ul>

        <strong>
            <em>
                Важливо!
                У жодному разі не працюйте нелегально, почекайте реєстрації та офіційного дозволу працювати!
            </em>
        </strong>
    </p>

    <hr>

    <h4 id="contact">Контакти</h4>
    <article>
        <dl>
            <dt><strong>Телефон / WhatsApp / Telegram</strong></dt>
            <dd>+31 6 25 05 79 74</dd>
            <dt><strong>Група у Facebook</strong></dt>
            <dd><a href="https://www.facebook.com/groups/913448899296010" target="_blank" rel="noopener">Допомога
                    Українцям
                    у Нідерландах / Hulp aan
                    Oekraïners in Nederland</a></dd>
        </dl>
    </article>

    <img src="{% static 'logo.jpeg' %}" alt="logo">
</main>

{% endblock content %}